:root {
	--button-hover-active-opacity: 0.9;
	/* Switch to tablet view when screen width is 768px */
	/* Switch to mobile view when screen width is 576px */
}

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button {
	filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.hero-section {
	height: 1386px;
	background-image: url(images/pic_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 42%;
}

.nav-container {
	padding-top: 38px;
}

.nav-list {
	font-size: 12px;
}

.logo-container {
	margin-left: 0;
	margin-right: 0;
}


.hero-section-title {
	font-size: 61px;
	line-height: 77px;
	margin-top: 176px;
}

.hero-subtitles {
	width: 253px;
}

.cta-btn {
	width: 162px;
	height: 44px;
	font-size: 14px;
	background-color: #C271FF;
	border-radius: 1.5rem;
	margin-top: 38px;
}

.lfp-text {
	margin-top: 150px;
}


.lfp-header {
	font-size: 2rem;
	line-height: 40px;
}

.lfp-text-verb {
	color: #C271FF;
}

.pros-section {
	margin: 87px 0px 0px 0px;
}

.lfp-avatar {
	/* padding-left: 0;
	padding-right: 0; */
	width: 150px;
	height: 237px;
}

.lfp-avatar:nth-of-type(3),
.lfp-avatar:nth-of-type(4) {
	margin-top: 58px;
}

.pro-pic img {
	height: 150px;
	width: 150px;
}

.pro-name {
	margin-top: 10px;
}

.pro-award {
	width: 150px;
	height: 8rem;
	margin-top: 2px;
}

/* Quote Carousel Section */
.quote-carousel-section {
	background-color: #C271FF;
	height: 591px;
}

.carousel-inner {
	padding-top: 91px;
}

[class^="carousel-control"] {
	top: 133.51px;
	bottom: auto;
}

.img-container {
	width: 148px;
	height: 148px;
}

.quote-carousel-caption-text,
.quote-carousel-caption-name {
	font-size: 22px;
	line-height: 34px;
}

.quote-carousel-caption-name {
	margin-top: 22px;
}

/* Tablet Media Query */

@media (min-width: 577px) and (max-width: 768px) {
	.nav-container {
		padding-top: 34px;
	}

	.pros-section {
		max-width: 694px;
	}

	.carousel-inner {
		padding-top: 75px;
	}

	.quote-carousel-section {
		height: 392px;
	}

	.quote-carousel-caption {
		width: 370px;
		margin-left: 34px;
	}

	[class^="carousel-control"] {
		top: 156.51px;
		bottom: auto;
	}

	.img-container {
		margin-left: 101px;
	}
}

/* Desktop Media Query */
@media (min-width: 769px) {
	.nav-container {
		max-width: 1104px;
		padding-top: 35px;
	}

	.pros-section {
		max-width: 1009px;
	}

	.carousel-inner {
		padding-top: 108px;
	}

	.quote-carousel-section {
		height: 392px;
	}

	.quote-carousel-caption {
		width: 730px;
		margin-left: 34px;
		margin-right: 237px;
	}

	[class^="carousel-control"] {
		top: 156.51px;
		bottom: auto;
	}

	.carousel-control-prev {
		left: 56.48px;
	}

	.carousel-control-next {
		right: 56.48px;
	}

	.img-container {
		margin-left: 260px;
	}
}


/* Pros Section Media Queries */
@media (min-width: 480px) {
	.lfp-avatar:nth-of-type(3) {
		margin-top: 0;
	}
}

@media (min-width: 630px) {
	.lfp-avatar:nth-of-type(4) {
		margin-top: 0;
	}

	.hero-section {
		height: 1093px;
	}
}

@media (min-width: 684px) {
	.hero-section-title {
		font-size: 120px;
		line-height: 150.84px;
		margin-top: 156px;
	}
}
